{% extends 'base.html' %}



{% block content %}
<div class="container mt-5" style="padding-top: 30px;">
    <h1 class="text-center mb-4">Workout Routine</h1>

    <!-- Beginner Workout Routine -->
    <h2>Beginner</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add beginner workout routine here -->
            <tr>
                <td>Monday</td>
                <td>Push-ups</td>
                <td>3</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>Bodyweight Squats</td>
                <td>3</td>
                <td>12</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>

    <!-- Intermediate Workout Routine -->
    <h2>Intermediate</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add intermediate workout routine here -->
            <tr>
                <td>Monday</td>
                <td>Bench Press</td>
                <td>4</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>Deadlifts</td>
                <td>4</td>
                <td>10</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>

    <!-- Advanced Workout Routine -->
    <h2>Advanced</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add advanced workout routine here -->
            <tr>
                <td>Monday</td>
                <td>Squats</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>Overhead Press</td>
                <td>4</td>
                <td>6</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
{% endblock %}